<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>UCSD Rank - Planning</title>
    </head>
    <body>
        <navbar>
            
        </navbar>
        <framebody>
            <sidebar>
                <sidebar-head>
                    <icon>
                        <bar></bar>
                        <bar></bar>
                        <bar></bar>
                    </icon>
                    <span>Requirements</span>
                </sidebar-head>
                <requirement-section>
                    <requirement-tree>
                        <category>
                            <title>University Requirement</title>
                            <list>
                                <category>
                                    <label>AHI</label>
                                </category>
                            </list>
                        </category>
                        <category>
                            <title>College Requirement: <span>Revelle</span></title>
                            <list>
                                <category>
                                    <title>Humanity</title>
                                    <list>
                                        <course>
                                            <label>HUM 1</label>
                                            <title>The Foundations of Western Civilization: Israel and Greece</title>
                                            <credit>6</credit>
                                        </course>
                                        <course>
                                            <label>HUM 2</label>
                                            <title>Rome, Christianity, and the Middle Ages</title>
                                            <credit>6</credit>
                                        </course>
                                        <course>
                                            <label>HUM 3</label>
                                            <title>Renaissance, Reformation, and Early Modern Europe</title>
                                            <credit>4</credit>
                                        </course>
                                        <course>
                                            <label>HUM 4</label>
                                            <title>Enlightenment, Romanticism, Revolution</title>
                                            <credit>4</credit>
                                        </course>
                                        <course>
                                            <label>HUM 5</label>
                                            <title>Modern Culture</title>
                                            <credit>4</credit>
                                        </course>
                                    </list>
                                </category>
                            </list>
                        </category>
                        <category>
                            <title>Major Requirement: <span>Math &amp; CS</span></title>
                        </category>
                    </requirement-tree>
                    <add-requirement>
                        
                    </add-requirement>
                </requirement-section>
            </sidebar>
            <framebody>
                <main>
                    <plan-view>
                        
                    </plan-view>
                    <plan-view hidden="hidden">
                        
                    </plan-view>
                    <plan-view hidden="hidden">
                        
                    </plan-view>
                </main>
                <statusbar>
                    
                </statusbar>
                <searchbar>
                    
                </searchbar>
            </framebody>
        </framebody>
    </body>
</html>
