body {
    user-select: none;
    -webkit-user-select: none;
    position: fixed;
    width: 100%;
    height: 100%;
    min-width: 1280px;
    min-height: 768px;
}

outerbody {
    display: flex;
    position: fixed;
    top: 45px;
    left: 0;
    height: calc(100% - 45px);
    width: 100%;
}

outer-sidebar {
    position: fixed;
    display: block;
    top: 45px;
    left: 0;
    width: 40px;
    height: calc(100% - 45px);
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 513;
}

outer-sidebar verticle-list item {
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    display: block;
    float: left;
    width: auto;
    transform-origin: left top 0;
    transform: rotate(90deg);
    margin-left: 40px;
    line-height: 40px;
    padding: 0 15px;
    cursor: pointer;
}

outer-sidebar verticle-list item:hover {
    background-color: rgba(240, 240, 240, 1);
}

outer-sidebar verticle-list item:active {
    background-color: rgba(230, 230, 230, 1);
}

outer-sidebar verticle-list item.active {
    line-height: 38px;
    border-bottom: 2px solid rgba(88, 155, 252, 1);
    color: rgba(88, 155, 252, 1);
}

sidebar {
    position: fixed;
    transition: 0.4s;
    display: block;
    left: 40px;
    height: calc(100% - 45px);
    width: 280px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 512;
}

sidebar.active {
    padding: 0 150px;
    width: calc(100% - 40px - 300px);
}

sidebar-head {
    display: block;
    padding: 15px 15px 0 15px;
}

sidebar-head label {
    display: block;
    width: 100%;
    height: 30px;
    color: rgba(88, 155, 252, 1);
}

sidebar-head label span {
    float: left;
    font-size: 14px;
    line-height: 30px;
}

sidebar-head label i {
    float: right;
    margin-top: 10px;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
}

sidebar-head label .full-screen-btn {
    float: right;
}

sidebar-head req-progress {
    display: flex;
    margin-top: 10px;
    font-size: 11px;
}

sidebar-head req-progress progress-bar {
    display: block;
    margin: 3px 0;
    width: 100%;
    height: 2px;
    background-color: rgba(230, 230, 230, 1);
}

sidebar-head req-progress progress-bar progress-inner {
    display: block;
    height: inherit;
    background-color: rgba(88, 155, 252, 1);
}

sidebar-head req-progress percentage {
    margin-left: 10px;
    line-height: 10px;
    color: rgba(88, 155, 252, 1);
}

percentage::after {
    content: '%';
}

requirement-section {
    display: block;
    padding-top: 15px;
    margin-bottom: 70px;
}

requirement-tree {
    display: block;
    line-height: 30px;
    -webkit-user-select: none;
    user-select: none;
}

sidebar.active requirement-tree {
    display: flex;
}

sidebar.active requirement-tree > category {
    
}

requirement-tree category {
    transition: 0.4s;
    display: absolute;
    width: 100%;
}

requirement-tree category.collapsed > label > i {
    transform: rotate(-90deg);
}

requirement-tree category.in-progress > label, requirement-tree course.in-progress > label {
    color: rgba(243, 140, 5, 1);
}

requirement-tree category.completed > label, requirement-tree course.completed > label {
    color: rgba(59, 210, 56, 1);
}

requirement-tree category > label {
    transition: 0.2s;
    display: block;
    padding: 0 15px;
}

requirement-tree category > label:hover {
    background-color: rgba(235, 235, 235, 1);
}

requirement-tree category > label:active {
    background-color: rgba(230, 230, 230, 1);
}

requirement-tree category > label i {
    transition: 0.3s;
    display: block;
    font-size: 15px !important;
    margin-right: 10px;
}

requirement-tree category > label percentage {
    float: right;
    font-size: 11px;
}

requirement-tree list {
    display: block;
    padding: 0 10px 0 15px;
}

requirement-tree course {
    transition: 0.2s;
    display: block;
    white-space: nowrap;
    padding: 0 10px 0 15px;
}

requirement-tree divider {
    display: block;
    text-align: center;
    margin: 15px 0 15px 15px;
    border-bottom: 1px solid rgba(180, 180, 180, 1);
    line-height: 0.01em;
}

requirement-tree divider span {
    color: rgba(150, 150, 150, 1);
    background: rgba(250, 250, 250, 1);
    margin-top: 3px;
    padding: 0 10px;
    font-size: 10px;
}

requirement-tree course:hover {
    background-color: rgba(240, 240, 240, 1);
}

requirement-tree course:active {
    
}

requirement-tree course label, requirement-tree course unit {
    display: inline;
}

requirement-tree course unit {
    float: right;
    line-height: 20px;
    margin: 5px 0;
    padding: 0 10px;
    font-size: 10px;
    border-radius: 3px;
    background-color: rgba(230, 230, 230, 1);
}

requirement-tree course unit::after {
    content: ' Units';
}

#add-requirement {
    position: fixed;
    bottom: 0;
    margin: 15px;
    width: 250px;
}

sidebar.active #add-requirement {
    margin-left: calc(50% - 130px - 150px - 40px);
}

innerbody {
    display: block;
    position: fixed;
    top: 45px;
    left: 320px;
    width: calc(100% - 320px);
    height: calc(100% - 45px);
}

mainbody {
    
}

statusbar {
    position: fixed;
    bottom: 0;
    width: calc(100% - 320px);
    height: 40px;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 256;
}

statusbar-left {
    float: left;
    display: flex;
    padding-left: 5px;
}

statusbar-left viewbtn {
    transition: 0.2s;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.6;
}

statusbar-left viewbtn:hover {
    opacity: 1;
}

statusbar-left viewbtn.active {
    opacity: 1;
    color: rgba(88, 155, 252, 1);
}

statusbar-left viewbtn img {
    padding: 10px;
    height: 20px;
    width: 20px;
}

statusbar-right {
    float: right;
    display: flex;
    line-height: 40px;
    padding-right: 15px;
    color: rgba(88, 155, 252, 1);
}

statusbar-right span + span {
    margin-left: 10px;
}

statusbar-right #save-btn {
    padding: 0 15px;
    height: 25px;
    line-height: 25px;
    margin: 7.5px 0 7.5px 20px;
}

search {
    position: fixed;
    top: 75px;
    right: 50px;
    width: 250px;
    z-index: 128;
}

search-box {
    transition: 0.4s;
    float: right;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

search-box:hover {
    width: 250px;
}

search-box:active {
    
}

search-box.active {
    width: 250px;
}

search-box-inner {
    width: 250px;
    display: flex;
}

search-box-btn {
    width: 40px;
    height: inherit;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: rgba(88, 155, 252, 1);
}

search-box-input {
    display: block;
    width: 210px;
    height: inherit;
}

search-box-input input {
    display: block;
    padding: 7px 10px 7px 0;
    line-height: 26px;
    height: 26px;
    width: 200px;
    border: none;
    outline: none;
}

plan-view {
    -webkit-user-select: none;
    cursor: default;
}

timeline-preview {
    position: fixed;
    display: block;
    left: 320px;
    bottom: 40px;
    width: calc(100% - 360px);
    padding: 0 20px;
    height: 120px;
    border-top: 1px solid rgba(200, 200, 200, 1);
    z-index: 64;
}

timeline-preview cursor {
    position: absolute;
    margin: 10px 0;
    display: none;
    height: 100px;
    width: 1px;
    background-color: rgba(180, 180, 180, 1);
}

timeline-preview focus-frame {
    --curr-border-color: rgba(200, 200, 200, 1);
    position: absolute;
    display: block;
    margin: 20px 0;
    width: 100px;
    height: 80px;
    cursor: move !important;
}

timeline-preview focus-frame span {
    transition: 0.2s;
    display: block;
    width: 100%;
    height: 78px;
    border: 1px solid var(--curr-border-color);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

timeline-preview focus-frame span + span {
    transition: 0.2s;
    display: block;
    content: '';
    width: 40px;
    height: 4px;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid var(--curr-border-color);
    border-radius: 2px;
    margin: 0 auto;
    margin-top: -82px;
}

timeline-preview focus-frame span + span + span {
    margin-top: 73px;
}

timeline-preview focus-frame:hover {
    --curr-border-color: rgba(88, 155, 252, 1);
}

timeline-preview-inner {
    display: block;
    margin: 25px 0;
    font-size: 10px;
}

timeline-preview-inner ul {
    list-style: none;
    padding: 0;
}

timeline-preview-inner .years {
    display: flex;
}

timeline-preview-inner .year {
    width: 25%;
}

timeline-preview-inner .quarters {
    display: flex;
}

timeline-preview-inner .quarter {
    width: 20%;
}

timeline-preview-inner label {
    display: block;
    text-align: center;
}

timeline-preview-inner .year > label {
    font-size: 12px;
}

timeline-preview-inner .quarter > label {
    color: rgba(120, 120, 120, 1);
}

timeline-preview-inner .classes {
    margin-top: 5px;
}

timeline-preview-inner .classes li {
    margin: 2px 8px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(88, 155, 252, 1);
}
